body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) left center / cover no-repeat fixed rgb(84, 107, 172);
}
